
._raw_spectra.txt
._spectra.R
._tr&preproc_spectra.RData
.Rhistory
._README.md
._Spectra.png
._Algorithms accuracy comparing(R2).png
._Algorithms accuracy comparing(RMSE).png
._Stepwise LM + PCA - Variable importance.png
._PLSR - Variable importance (FD spectra).png
._PLSR - Variable importance (RAW spectra).png
